@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #1d2d2e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --BGC: #304649;
  --equal: #1c2826;
  --operator: #4c6471;
  --BTN: #e3fffa;
  --Text: #000;
  /* color-scheme: light dark; */
}

.calc {
  max-width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-rows: 4rem 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 46px;
  background-size: 30rem 30rem;
  background: linear-gradient(145deg, #2b3f42, #334b4e);
}
.countedNum {
  width: 100%;
  background-color: #00000081;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  border: none;
  height: 4rem;
  pointer-events: none;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  padding: 12px;
  color: rgb(216, 203, 203);
  overflow: hidden;
}
.countedNum[value] {
  padding-left: 1rem;
}
.col-1 {
  width: 30rem;
  height: 26rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "AC AC theme theme" "clear openB  closeB slash" "seven eight nine muti" "four five six minus" "one two three plus" "zeo zeo dott equal";
  grid-gap: 1rem;
  padding: 1rem;
}
.card {
  background-color: var(--BTN);
  border: none;
  font-size: 1.5rem;
  color: var(--Text);
  border-radius: 1.1rem;
}
.card:active {
  background-color: var(--BGC) !important;
}
.card:hover {
  cursor: pointer;
}
.card:nth-child(1) {
  grid-area: zeo;
}
.card:nth-child(2) {
  grid-area: one;
}
.card:nth-child(3) {
  grid-area: two;
}
.card:nth-child(4) {
  grid-area: three;
}
.card:nth-child(5) {
  grid-area: four;
}
.card:nth-child(6) {
  grid-area: five;
}
.card:nth-child(7) {
  grid-area: six;
}
.card:nth-child(8) {
  grid-area: seven;
}
.card:nth-child(9) {
  grid-area: eight;
}
.card:nth-child(10) {
  grid-area: nine;
}
.card:nth-child(11) {
  grid-area: dott;
}
.card:nth-child(12) {
  grid-area: equal;
  background-color: var(--equal);
  color: rgb(150, 147, 147);
}
.card:nth-child(13) {
  grid-area: plus;
  background-color: var(--operator);
  color: var(--BGC);
}
.card:nth-child(14) {
  grid-area: minus;
  background-color: var(--operator);
  color: var(--BGC);
}
.card:nth-child(15) {
  grid-area: muti;
  background-color: var(--operator);
  color: var(--BGC);
}
.card:nth-child(16) {
  grid-area: slash;
  background-color: var(--operator);
  color: var(--BGC);
}
.card:nth-child(17) {
  grid-area: closeB;
}
.card:nth-child(18) {
  grid-area: clear;
}
.card:nth-child(19) {
  grid-area: openB;
}
.card:nth-child(20) {
  grid-area: AC;
}
.card:nth-child(21) {
  grid-area: theme;
}

.card:nth-child(21):active {
  color-scheme: dark;
}

.circle {
  position: fixed;
  border-radius: 50%;
  background: var(--BGC);
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}
